@using PagedList.Mvc;
@model PagedList.IPagedList<MVC_Test03.Models.Product>


@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .pagination {
        display: flex;
        list-style-type: none;
        padding: 0;
        justify-content: center;
        margin-top: 20px;

    }

        .pagination .page-item {
            margin: 0 5px;
        }

            .pagination .page-item .page-link {
                display: inline-block;
                padding: 8px 16px;
                font-size: 14px;
                color: #007bff;
                text-decoration: none;
                border: 1px solid #ddd;
                border-radius: 5px;
                transition: background-color 0.3s, color 0.3s;
            }

                .pagination .page-item .page-link:hover {
                    background-color: #007bff;
                    color: white;
                    border-color: #007bff;
                }

            .pagination .page-item.active .page-link {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
                cursor: default;
            }
</style>

<div class="container">
    <h2>MUA HÀNG</h2>
    <div style="border: 3px solid #ff6a00; height: 70px; text-align: center; padding: 15px;">
        <!--Vị trí trình bày cho mục 5, tìm sản phẩm theo tên sp và giá-->
        @using (Html.BeginForm("ProductList", "Products", FormMethod.Get))
        {
            <table>
                <tr>
                    <td>
                        Tên Sản phẩm : <input type="text" name="SearchString" />
                        <input type="submit" value="Tìm kiếm" class="btn btn-warning" />
                    </td>
                    <td>
                        Đơn giá từ : <input type="number" name="min" />
                        --đến : <input type="number" name="max" />
                        <input type="submit" value="Tìm giá" class="btn btn-warning" />
                    </td>

                </tr>
            </table>
        }

    </div>
    <div class="row">
        @foreach (var pro in Model)
        {
            <div class="col-sm-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card-pro">
                    <p>@Html.DisplayFor(model => pro.ProductID)</p>
                    <img src="~/Content/images/@pro.ImagePro" width="200" height="250" />
                    <p>@Html.DisplayFor(model => pro.NamePro)</p>
                    <p>Đơn giá : <font color="red">@Html.DisplayFor(model => pro.Price)</font></p>
                    <p style="text-align: center;">
                        <a class="btn btn-info" href="/Products/Details/@pro.ProductID"> Chi tiết </a>
                        <input type="submit" value="Mua" class="btn btn-danger" />
                    </p>
                </div>
            </div>
        }
    </div>
</div>
<!-- Thêm đoạn mã để hiển thị số trang và số trang hiện tại -->
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
<!--Control PagedListPager: mô tả mô hình với số trang là liên kết với tham số "Index" và tham số page-->
@Html.PagedListPager(Model, page => Url.Action("ProductList", new { page }), new PagedListRenderOptions
{
    UlElementClasses = new[] { "pagination" },
   LiElementClasses = new[] { "page-item" },
    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    Display = PagedListDisplayMode.IfNeeded,
    LinkToIndividualPageFormat = "Trang {0}",
    LinkToPreviousPageFormat = "Trước",
    LinkToNextPageFormat = "Tiếp"
})
<!-- Kết thúc -->
